
.sc-ion-segment-md-h {
    /* --background: red; */
    border: 1px solid #6889f5;
   

 }

h1{
    color: var(--ion-color-primary);
}
ion-card-content {
   
    border-radius: 10px 10px 10px 10px;
  }