
.sc-ion-segment-md-h {
    /* --background: red; */
    border: 1px solid #6889f5;
   

 }
//  .sc-ion-segment-md-h:hover{
//     background: var(--ion-color-primary);
//     color: var(--ion-color-light);
//  }
h1{
    color: var(--ion-color-primary);
}
ion-card-content {
   
    border-radius: 10px 10px 10px 10px;
  }